@tailwind base;

@layer base {
  @font-face {
    font-family: "DiabloHeavy";
    src: url("./fonts/diabloh/diabloh.eot");
    src: url("./fonts/diabloh/diabloh.eot?#iefix") format("embedded-opentype");
    src: url("./fonts/diabloh/diabloh.otf") format("opentype");
    src: url("./fonts/diabloh/diabloh.svg") format("svg");
    src: url("./fonts/diabloh/diabloh.ttf") format("truetype");
    src: url("./fonts/diabloh/diabloh.woff") format("woff");
    src: url("./fonts/diabloh/diabloh.woff2") format("woff2");
    font-style: normal;
    font-weight: normal;
  }
}

@tailwind components;
@tailwind utilities;
